
@{
    ViewBag.Title = "Detail";
}

<h1>Nome: @ViewBag.Nome</h1>

<ul>
    <li>Linhas: @ViewBag.Linhas</li>
    <li>Alterado: @ViewBag.Alterado</li>
    <li>Bolinha : @ViewBag.Bolinha</li>
</ul>

